/*
TZ
BLUE   #1F8CCD;
RED   #FF511A;
YELLOW   #FFC21A;
LIGHT YELLOW BGR   #FFF4D7;
GREEN   #16D674;


*/

html,
body {
    height: 100%;
    /*font-size:inherit;*/
}

.pl0{
    padding-left: 0;
}
.pr0{
    padding-right: 0;
}
.pt0{
    padding-top: 0;
}
.pl10{
    padding-left: 10px;
}
.pb20{
    padding-bottom: 20px !important;
}
.pb30{
    padding-bottom: 30px;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt25{
    margin-top: 25px;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}
.mt80{
    margin-top: 80px;
}
.mt100{
    margin-top: 100px;
}
.mt200{
    margin-top: 200px;
}
.mt250{
    margin-top: 250px;
}
.mt300{
    margin-top: 300px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb0 {
    margin-bottom: 0;
}
.pb50{
    padding-bottom: 50px;
}
@media only screen and (max-width : 767px) {
    .mbxs50 {
        margin-bottom: 50px;
    }
}
.max-w100per{
    max-width: 100%;
}
.min-h600{
    min-height: 600px;
}
.h500{
    height: 500px;
}
.h600{
    height: 600px;
}
.w200{
    width: 200px;
}
.w100{
    width: 100px;
}
.w80{
    width: 80px;
}
.w50{
    width: 50px;
}
/*'w100' => 'w100',
                'w80' => 'w80',
                'w50' => 'w50',*/
.w50perSm{
    width:50%;
}
@media only screen and (max-width : 767px) {
    .w50perSm {
        width:100%;
    }
}
.w50per{
    width:50%;
}
.w30per{
    width:30%;
}
.w30perCenter{
    width:30%;
    display: block;
    position: relative;
    margin-left:35%;
    margin-bottom: 5px;
}
.w20per{
    width:20%;
}
.w10per{
    width:10%;
}
.bgr {
    background-size: cover;
    background-position: center;
}
.dark .shadow {
    text-shadow: 1px 1px 1px black;
}
.dark .bigShadow {
    text-shadow: 1px 1px 2px black,
    2px 2px 5px black,
    4px 4px 10px black,
    4px 4px 15px black,
    4px 4px 20px black,
    4px 4px 25px black;
}
.bigShadowWhite {
    text-shadow: 1px 1px 2px white,
    2px 2px 5px black,
    4px 4px 10px black,
    4px 4px 15px black,
    4px 4px 20px black,
    4px 4px 25px black;
}
.ttu{
    text-transform: uppercase;
}
.brs5{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.article_front_1 h1{
    font-size: 42px;
    color: #5f6973;
}
.article_front_1 h3{
    font-size: 18px;
}
.text-center {
    text-align: center;
    display: block;
}
.text-grey {
    color: #838e9a;
}
.table{
    display: table;
}
.table-cell {
    display: table-cell;
}
.table-row {
    display: table-row;
}
.table-column {
    display: table-column;
}
.vertical-middle{
    vertical-align: middle;
}

/*.grey {*/
    /*color: grey;*/
    /*!*background-color: #FFF4D7;*!*/
    /*background-color: blue;*/
/*}*/

/* grey */

.light_yellow {
    background-color: #FFF4D7;
    color: #333;
}
.grey {
    background-color: #f5f5f5;
    color: #333;
}

.blue {
    background-color: #154976;
    color: white;
}
.blue h1,.blue h2,.blue h3,.blue h4,.blue h5,.blue h6  {
    color: white;
}
.blue .text-grey {
    color: #5D92C2;
}

/* dark */
.dark .has-error .help-block {
    color: #fff;
}



.dark {
    /*background-color: #487B97;*/
    /*background-color: #1A6F9D;*/
    color: white;
    background-color: #30353b;
    /*color: #838e9a;*/
}

.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6 {
    color: white;
}
.yellowH1 h1{
    color: #f7941e;
}
 .yellowH1.dark .bigShadow{
     text-shadow: 0 0 5px #fff, 0 0 5px #fff,
     0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff,
     0 0 5px #fff, 0 0 8px #fff, 0 0 10px #fff,
     0 0 5px #fff, 0 0 8px #fff, 0 0 10px #fff,
     0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff,
     0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff,
     0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff,
     0 0 30px #fff, 0 0 35px #fff, 0 0 40px #fff;
}

.dark .input-group .form-control {
    background-color: transparent;
    border-color: white;
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50px;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 50px;
}


.dark .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.dark .form-control:-ms-input-placeholder,
.dark .form-control::-webkit-input-placeholder{
    color: #fff;
    opacity: 1;
}
.dark .input-group .form-control{
    color: #fff;
}

.dark .input-group .btn-submit{
    background-color: #F7941E;
    text-transform: uppercase;
}
.btn-danger {
    background-color: #F7941E;
    text-transform: uppercase;
    border-radius: 20px;
    border:none;
}
.btn-danger:hover {
    background-color: #F7941E;
    color: #1A6F9D;
}


.trans-black-bgr {
    background-color: rgba(0,0,0,0.7);
}
.dark-blue-bgr {
    /*background-color:  rgba(0,144,215,0.7);*/
    /*background-color:  rgba(21,73,118,0.9);*/
    background-color:  #154976;
    /*background-image: linear-gradient(to bottom,#0090d7 0,#0e3e74 100%);*/
    /*background-repeat: repeat-x;*/

}
.blue-bgr {
    background-color:  #0090d7;
}
.yellow-bgr {
    background-color:  #FFF4D7;
}
/* slick  */
.carouselControl {
    position: absolute;
    cursor: pointer;
    display: block;

}
.carouselWrapper {
    position: relative;
}
.asb-slick_banner_1 .carouselControl {
    top:148px;
    margin-top: -40px;
}
@media only screen and (max-width : 991px) {
    .asb-slick_banner_1 .carouselControl {
        top:118px;
    }
}

.asb-slick_1 .carouselControl {
    top:148px;
    margin-top: -40px;
}
@media only screen and (max-width : 767px) {
    .asb-slick_1 .carouselControl {
        top:195px;
    }
}

/*.carouselControl {*/
    /*cursor: alias;*/
/*}*/
.carouselControl svg{
    width: 80px;
    height: 80px;
}

.asb-slick_3 .carouselControl {
    top:50%;
    margin-top: -40px;
}


.slickPrev,
.asb-slick_banner_1_slickPrev{
    left:10px;
}

.slickNext,
.asb-slick_banner_1_slickNext{
    right:10px;
}
.outside.slickPrev{
    left:-60px;
}
.outside.slickNext{
    right:-60px;
}
@media only screen and (max-width : 991px) {
    .outside.slickPrev{
        left:-40px;
    }
    .outside.slickNext{
        right:-40px;
    }
}
.bright .carouselControl svg{
    /*stroke:#0F63A4;*/
    /*stroke:#30353b;*/
    /*stroke: #ffffff;*/
    fill: #ffffff;
}
.carouselControl svg{
    fill: #0F63A4;
}
.carouselControl svg:hover{
    fill:#838e9a;
}
.bright .carouselControl svg:hover{
    /*stroke:#838e9a;*/
    fill:#838e9a;
}

.dark .carouselControl svg {
    /*stroke:#fff;*/
    stroke:#838e9a;
}
.dark .carouselControl svg:hover {
    /*stroke:#838e9a;*/
    stroke:#fff;
}
.carousel_item .abtn{
    position: absolute;
    left:30px;
    top:100px;
    z-index:1000;
}
.carousel_item .rbtn{
    position: relative;
    left: -20vw;
    top: -100px;
}
.slick-dots {
    position: absolute;
    bottom: 50px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

}
.slick-dots li  {

    display: inline-block;
    margin: 5px;

}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 1px solid white;
    outline: none;
    background: transparent;
    border-radius: 50px;
}
/*.slick-dots li button:hover {*/
    /*border: 1px solid #838e9a;*/
/*}*/

.slick-dots li.slick-active button {
    opacity: .75;
    background: white;
    color: black;
}
.blue_circle {
    background-color: #0090d7;
    /*background: url(/img/b-header__background.png) 0 0 repeat-x scroll;*/
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    width:auto;
    font-size: 26px;
    line-height: 1.1;
}
.text_blue_center {
    color: #0090d7;
    text-align: center;
}
.text_small{
    font-size:0.75em;
}
@media only screen and (max-width : 767px) {
    .text_small {
        font-size:1em;
    }
}

@media only screen and (min-width : 768px) {
    .display_xs {
        display: none;
    }
    .hidden_xs {
        display: block;
    }

}
@media only screen and (max-width : 767px) {
    .display_xs {
        display: block;
    }
    .hidden_xs {
        display: none;
    }
}


h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}

h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    color: #5f6973;
}
.asb-header_on_img .header {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    margin-top: 10px;
    padding: 5px;
    font-size: 13px;

}
.asb-header_on_img .image_box {

}
@media only screen and (max-width : 767px) {
    .asb-header_on_img .image_box {
        width: 300px;
        position: relative;
        left: 50%;
        margin-left: -150px;
    }

}


.box {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.float-right{
    float:right;
    margin-left: 10px;
}
.float-left{
    float:left;
    margin-right: 10px;
}
/*section {*/
    /*padding-top: 30px;*/
    /*padding-bottom: 30px;*/
/*}*/
section::after {
    content: "";
    clear: both;
    display: table;
}
img {
    max-width: 100%;
}
.article_view  {
    font-size: 13px;
    /*color:#5f6973;*/
    color:#444;
}
.price-calculator .box {
    /*background-color: #f5f5f5;*/
    background-color: #f5f5f5;
    border: 1px #ccc solid;
    border-radius: 10px;
}
.asbi-v_svg_head_text .svg svg {
    width: 80px;
    height: 80px;
}

@media only screen and (max-width : 767px) {
    .asbi-h_2col-img_text .image {
        width: 250px;
        position: relative;
        left: 50%;
        margin-left: -125px;
    }
}
.dark .magImg i, .dark a{
    color: #ffffff;
}
.asb-bs_horiz_2 .magImg i{
    font-size:3em;
}

.arrowDown_ico{
    width: 90px;
    height: 120px;
    position: relative;
}
.arrow_ico{
    width: 90px;
    height: 74px;
    position: absolute;
    left:-45px;
    top:20px;
}
.city-price-calc .submit {
    margin-top: 44px;
}
.city-price-calc #calcResult {
    font-size: 1rem;
    color: #000000;
    /*color: #FF511A;*/
}
.city-price-calc{
    border:1px solid #ccc;
    border-radius: 10px;
    background-color: #FFF4D7;
}
.ul_no_dot ul {
    list-style-type:none;
}
.illustration_fw{
    overflow: hidden;
}
.alignFullImg {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    width: auto;
}


.text-success {
    color: #449d44;
}
.text-warning{
    color: #F7941E;
}
.text-info{
    color: #17a2b8;
}
.text-danger{
    color: #dc3545;
}
.dark .bordered{
    border:1px solid white;
}
.bordered{
    border:1px solid grey;
}
.shortOrderForm label{
    text-transform: uppercase;
    font-weight:normal;
}
.has-error .control-label,
.has-success .control-label{
    color: inherit;
    /*text-shadow: 1px 1px 2px white, -1px -1px 2px white;*/
}
.as-top_h1_form h1{
    margin-top: 1em;
    margin-left: 1em;
}
.as-top_h1_form .advantages{
    color: #F3BB00;
    /*color: #f39200;*/
    /*color: #FFF4D7;*/
    font-size:1.7rem;
    padding-left:2em;
}
@media only screen and (max-width : 480px) {
    .as-top_h1_form .advantages{
        font-size:1.2rem;
        padding-left:inherit;
    }
    .as-top_h1_form h1{
        font-size:1.4rem;
        margin-left: inherit;
    }
}
.as-top_h1_form .bordered{
    border-color: #F3BB00;
    /*font-size:2rem;*/
}
.as-top_h1_form .box{
    padding: 20px;
}

@media only screen and (max-width : 767px) {

}