/*

main back #3f4158


*/
@font-face {
    font-family: "MontserratSemiBold";
    src: url("fonts/Montserrat/MontserratSemiBold.eot");
    src: url("fonts/Montserrat/MontserratSemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat/MontserratSemiBold.woff") format("woff"),
    url("fonts/Montserrat/MontserratSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaThin";
    src: url("fonts/HelveticaThin/HelveticaThin.eot");
    src: url("fonts/HelveticaThin/HelveticaThin.eot?#iefix") format("embedded-opentype"),
    url("fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "MontserratBold";
    src: url("fonts/Montserrat/MontserratBold.eot");
    src: url("fonts/Montserrat/MontserratBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Montserrat/MontserratBold.woff") format("woff"),
    url("fonts/Montserrat/MontserratBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Helvetica";
    src: url("fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaBold";
    src: url("fonts/HelveticaBold/HelveticaBold.eot");
    src: url("fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "NeoSansProBold";
    src: url("fonts/NeoSansProBold/neosanspro-bold.eot");
    src: url("fonts/NeoSansProBold/neosanspro-bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/NeoSansProBold/neosanspro-bold.woff") format("woff"),
    url("fonts/NeoSansProBold/neosanspro-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "NeoSansProRegular";
    src: url("fonts/NeoSansProRegular/neosanspro-regular.eot");
    src: url("fonts/NeoSansProRegular/neosanspro-regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/NeoSansProRegular/neosanspro-regular.woff") format("woff"),
    url("fonts/NeoSansProRegular/neosanspro-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProRegular";
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.noMargin{
    margin: 0!important;
}
.noPl {
    padding-left: 0;
}

.container {
    width: 100%;
    margin:0;
    padding: 0;
}
.row{
    margin: 0;
    /*padding: 0;*/
}
html {
    margin:0;
    padding: 0;
    min-height: 100%;
}
body {
    height: 100%;
}
section {
    position: relative;
}
.smooth_angle {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 20vw;
    /*min-height: 700px;*/
    /*background-size: contain;*/
    background-size: cover;
    /*background-size: 100% 100%;*/
    background-position: bottom;
    overflow: visible;
}
.smooth_angle svg{
    position: relative;
    width: 100%;
    /*height: 100%;*/
}
/* позиционирование*/
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}
.mt100{
    margin-top: 100px;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mb50{
    margin-bottom: 50px;
}
.mb100{
    margin-bottom: 100px;
}
.pt10{
    padding-top: 10px;
}
.pt20{
    padding-top: 20px;
}
.pt30{
    padding-top: 30px;
}

.c_def{
    cursor: default;
}

.dark {
    /*background-color: #487B97;*/
    /*background-color: #1A6F9D;*/
    color: white;
    background-color: #3f4158;
}
.blue .dark {
    /*background-color: #487B97;*/
    background-color: #1A6F9D;
}

section {
    min-height: 600px;
    overflow: hidden;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    border: none;
}

.navbar {
    background-color: rgba(0,0,0,0.4);
    color: #fff;
    position: absolute;
    width: 100%;
    border-radius: 0;
    border: none;
    z-index: 10;
    /*border:none;*/
    /*border-color: rgba(0,0,0,0.3);*/
}
.navbar > .container .navbar-brand {
    /*margin-left: -15px;*/
    position: relative;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0px 2px;
}

.navbar-brand > img {
    display: block;
    width: 100%;
}
.navbar-inverse .navbar-right {
    margin-right: 0;
}
.phone_icon {
    width: 20px;
    height: 20px;
    left: -20px;
    top:5px;
    position: absolute;
}
.phone_num {
    position: relative;
    margin-top: 5px;
    margin-left:5px;
    margin-right: 5px;
    display: inline-block;
    /*top: -8px;*/

}
.btn-default {
    background-color: transparent;
    color: #fff;
    border: 1px #fff solid;
    border-radius: 7px;
    text-transform: uppercase;

}
#navbarOrderBtn {
    margin-right: 10px;
    color: #fff;
}
.navbar-nav > li {
    margin-top: 10px;
}

.navbar-nav > li > a {
    padding: 5px 10px;
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
/* Top */
#topSection {
    /*background-size: cover;*/
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 800px;
}

#topSection .head {
    margin-top: 160px;
    font-family:'MontserratSemiBold', sans-serif;
    /*font-family:'MontserratBold', sans-serif;*/
    font-size: 32px;
    margin-bottom: 30px;
}

#topSection .lead {
    font-family:'HelveticaThin', sans-serif;
    font-size: 16px;
}

#topSection .form-group {
    margin-bottom: 0;
}
#quickorder-form-top {
    margin-top: 70px;
}





.dark .has-error .help-block {
    color: #fff;
}



/* forms */

.dark .input-group .form-control {
    background-color: transparent;
    border-color: white;
}

/* left field (input) */
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-radius: 0;
    width: 200px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-top: 2px;
    text-align: center;
}
.dark .input-group .form-control:first-child{
    border: 1px solid #ccc;
}
.bright .input-group .form-control:first-child{
    border: 1px solid #333;
}

/* right field (button) */
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
    border-radius: 0;
    /*border: 6px black dashed;*/
    padding: 3px 12px;
    height: 35px;

    border: none;
    background-image:
            repeating-linear-gradient(to right, black 0%, black 50%, transparent 50%, transparent 100%),
            repeating-linear-gradient(to left, black 0%, black 50%, transparent 50%, transparent 100%),
            repeating-linear-gradient(to top, black 0%, black 50%, transparent 50%, transparent 100%),
            repeating-linear-gradient(to bottom, black 0%, black 50%, transparent 50%, transparent 100%);
    background-position: left top, left bottom, left bottom, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 30px 4px, 30px 4px, 4px 30px, 4px 30px;

}

.input-group .btn-submit:hover {

    background-image:
    repeating-linear-gradient(to right, black 0%, black 70%, transparent 30%, transparent 100%),
    repeating-linear-gradient(to right, black 0%, black 70%, transparent 30%, transparent 100%),
    repeating-linear-gradient(to bottom, black 0%, black 70%, transparent 30%, transparent 100%),
    repeating-linear-gradient(to bottom, black 0%, black 70%, transparent 30%, transparent 100%);

}
.dark .form-control::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.dark .form-control:-ms-input-placeholder,
.dark .form-control::-webkit-input-placeholder{
    color: #fff;
    opacity: 1;
}
.dark .input-group .form-control{
    color: #fff;
}

.input-group .btn-submit{
    background-color: #FFCC09;
    text-transform: uppercase;
    color: #000000;
}
.btn-danger {
    background-color: #FFCC09;
    color: #000000;
    font-size:16px;
    font-family:'MontserratSemiBold', sans-serif;
    text-transform: uppercase;
    border-radius: 0;
    border:none;
    padding: 6px 12px;
    height: 35px;
    background-image:
            repeating-linear-gradient(to right, black 0%, black 50%, transparent 50%, transparent 100%),
            repeating-linear-gradient(to left, black 0%, black 50%, transparent 50%, transparent 100%),
            repeating-linear-gradient(to top, black 0%, black 50%, transparent 50%, transparent 100%),
            repeating-linear-gradient(to bottom, black 0%, black 50%, transparent 50%, transparent 100%);
    background-position: left top, left bottom, left bottom, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 30px 4px, 30px 4px, 4px 30px, 4px 30px;
}
.btn-danger:hover {
    background-color: #FFCC09;
    color: #000000;
    background-image:
            repeating-linear-gradient(to right, black 0%, black 70%, transparent 30%, transparent 100%),
            repeating-linear-gradient(to right, black 0%, black 70%, transparent 30%, transparent 100%),
            repeating-linear-gradient(to bottom, black 0%, black 70%, transparent 30%, transparent 100%),
            repeating-linear-gradient(to bottom, black 0%, black 70%, transparent 30%, transparent 100%);
}



/* акция */
.action_permanent {
    min-height: 700px;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
}
.action_permanent .left{
    padding-left: 50px;
}
.action_permanent .right{
    padding-right: 50px;
}
.square_box,
.square_box_transparent {
    min-height: 300px;
    margin-top: 30px;
}
.square_box_transparent{
    padding-top: 130px;
}
.dark .square_box {
    /*background-color: rgba(255,255,255,0.15);*/
    background-color: rgba(0,0,0,0.35);
}
.bright .square_box {
    background-color: rgba(0,0,0,0.3);
}
.action_permanent .btn-danger {
    width: 100%;
    position: relative;
    margin: 7px 0 0;
    /*left: -5px;*/
}
.action_permanent .lead{
    text-transform: uppercase;
    font-family: "MyriadProRegular",sans-serif;
    font-size:26px;
    line-height: 1.3;
    margin: 60px auto 0px;
}
.action_permanent .lead span{
    text-transform: uppercase;
    font-family: "MyriadProRegular",sans-serif;
    font-size:48px;
    display: inline-block;
    margin-top: -5px;
}

.action_permanent .comment{
    font-size:18px;
    display: inline-block;
    margin-top: 125px;
}
.timer_box{
    padding-top: 80px;
}
.action_permanent .tillTo{
    font-family: "MyriadProRegular",sans-serif;
    font-size:18px;
    margin:10px 0 0;
}
.dark .tillTo ,
.dark .comment ,
.dark .remainHead ,
.dark .remainDiscr {
    color: #fff;
}

.action_permanent .spurt{
    font-family: "MyriadProRegular",sans-serif;
    font-size:48px;
    text-transform: uppercase;
    margin:8px 0 -3px;
}
.action_permanent .spurt .prep {
    position: relative;
    top: -6px;
}
.action_permanent .remainHead {
    font-family: "Helvetica",sans-serif;
    font-size:18px;
    /*margin:9px 0 0;*/
}

.action_permanent .remainNumber {
    width: 50px;
    height: 50px;
    display: block;
    border: 1px solid #fff;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    position: relative;
    /*left: -15px;*/
    font-size:30px;
    font-family: "Helvetica",sans-serif;
    padding: 5px;
    text-align: center;
    margin:2px 0 0px;
}
.action_permanent .remainDiscr {
    display: block;
    position: relative;
    width: 50px;
    text-align: center;
    /*left: -15px;*/
    font-size: 12px;
}

.head {
    position: relative;
    margin-top: 80px;
    margin-bottom: 60px;
    font-size: 30px;
    font-family: 'MontserratBold', sans-serif;
}
.bright .head {
    color: #58595B;
}





/* services */
#servicesSection .head {
    margin-top: 0;
    margin-bottom: 60px;
    /*font-family: 'MontserratSemiBold', sans-serif;*/
    font-size:32px;
}
.service_type_icon svg {
    height:110px;
    width: 250px;
}
.service_type_icon img {
    width: 200px;
}
.services .addIconBox{
    margin-top: 50px;
}
.services .addIcon {
    width: 80px;
    height: 80px;
}
.services .service_type__head{
    margin-top:20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'MontserratSemiBold', sans-serif;
    color: #58595B;
}

.services .service_type__text{
    font-size: 12px;
    margin-bottom: 50px;
    font-family: 'HelveticaThin', sans-serif;
    text-align: left;
}
/* services call2action */

.call2action {
    padding-top: 30px;
    min-height:150px;
}
.dark .form-control {
    background-color: transparent;
    color: white;

}
.dark .form-control option {
    color: #838e9a;
}
.dark .glyphicon{
    color: #30353b;
}
.rdtr {
    position: absolute;
    right: 15px;
    width: 16px;
    height: 34px;
    background-color: #fff;
    top: 0;
    padding-top: 12px;
    padding-left: 4px;
    font-size:10px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.styled_select{
    background: url(/img/select_tr.png) no-repeat 96% 0;
    border-radius: 0;
    height: 34px;
    overflow: hidden;
    width: 240px;
    margin-bottom: 30px;
    margin-top: 2px;
}
.dark .styled_select{
    border:1px solid #fff;
}
.bright .styled_select{
    border:1px solid #333;
}
.styled_select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 34px;
    padding: 5px  6px 5px; /* if too much padding here, the options won't show in IE */
    width: 268px;
}

.xsServiceForm,
.xsHowWeWorkForm {
    width: 460px;
    position: relative;
    left:0;
}
.xsHowWeWorkForm {
    position: relative;
    left: 50%;
    margin-left:-230px;
}


/* why we */
.why_we {
    padding-bottom: 50px;
    padding-top: 50px;
}
.whyWe_icon svg {
    width: 80px;
    height: 80px;
    /*float: right;*/
    margin: 10px 0;
}
.whyWe_head {
    padding-top: 5px;
    /*font-family: "MyriadProRegular", sans-serif;*/
    /*font-family: 'MontserratSemiBold', sans-serif;*/
    font-family: 'MontserratBold', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.why_we .head {
    margin-top: 30px;
}
.whyWe_text {
    /*margin: 10px 0;*/
    color: #6d6e71;
    /*font-family: "MyriadProRegular", sans-serif;*/
    font-family: 'HelveticaThin', sans-serif;
    font-size: 13px;
    line-height:1.2;
}
#whyWeVertical{
    width: 120px;
    height: 580px;
}


/* how we work */

.how_we_work {
    padding-bottom: 50px;
    min-height: 550px;
}

.how_we_work .form-group,
.how_we_work .help-block{
    margin-bottom: 0;
}
.howWeWork_icon svg {
    width: 200px;
}
#payment_ico,
#orderFill_ico,
#calc_ico {
    width: 70px;
    height: 70px;
}
#carGo_ico,
#carStay_ico {
    width: 132px;
    height: 70px;
}
.arrow_ico {
    width: 110px;
    height: 90px;
}
.dark .arrow_ico{
    stroke: #838e9a;
}
.blue .dark .arrow_ico {
    stroke: #fff;
}
.black .dark #arrow_long_ico {
    fill: #838e9a;
}
.blue .dark #arrow_long_ico {
    fill: #838e9a;
}
.blue .dark #arrow_long_ico {
    fill: #eee;
}
#arrow_long_ico {
    /*width: 580px;*/
    /*height: 140px;*/
    width: 870px;
    height: 210px;
}

.how_we_work .display_xs svg{
    width: 90px;
    height: 120px;
}
.display_xs {
    display: none;
}
.howWeWork_head {
    font-size: 18px;
}
.dark .howWeWork_text {
     font-size: 14px;
     color: #838e9a;
 }
.blue .dark .howWeWork_text {
    color: #eee;
}





/* what we do */

#whatWeDoSection {
    background-color: #58595B;
    background-image: url(/img/ngb_roadline_wide.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    padding-top: 300px;
    padding-bottom: 300px;
}

#whatWeDoSection .carPlace {
    padding-left: 30px;
    padding-right: 30px;
}

#whatWeDoSection .bright {
    background-color: #ffffff;
}

.truckBodywork{
    position: relative;
    padding: 30px 20px 20px;
    background-image: url(/img/ngb_attention_line.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.truckHead{
    height: 125px;
    overflow: hidden;
    margin-top: 100px;
}
.truckHead svg {
    width: 180px;
    height: 135px;
    position: relative;
    left: 50%;
    margin-left: -90px;
}
.whatWeDo_icon {
    text-align: center;
}
.whatWeDo_icon svg {
    /*width: 85px;*/
    /*height: 60px;*/
    width: 110px;
    height: 78px;

}
.whatWeDo_head {
    font-family: 'MontserratBold', sans-serif;
    font-size:16px;
    text-transform: uppercase;
    margin-top: 10px;
}


.whatWeDo_text {
    font-family: 'HelveticaThin', sans-serif;
    font-size:16px;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* numbers */
.numbers {
    position: relative;
    background-size: cover;
    background-position: center;
    min-height:150px;
    padding: 30px 0;
}
.numbers_num {
    font-size: 64px;
}
.numbers_text {
    font-size: 16px;
}
#numbersName {
    position: absolute;
    left: 10px;
    width: 20px;
    height: 160px;
    top:15px;
}


/* projects */
.carouselControl {
    position: absolute;
    cursor: pointer;
    display: block;

}
.projects .carouselControl {

    top:158px;
    margin-top: -30px;

}
.carouselControl svg{
    width: 60px;
    height: 60px;
}
.slickPrev,
.slickReviewsPrev{
    left:20px;
}
.slickNext,
.slickReviewsNext{
    right:20px;
}

.bright .slickPrev,
.bright .slickNext {
    /*stroke:#0F63A4;*/
    stroke:#30353b;
}
.bright .slickPrev:hover,
.bright .slickNext:hover {
    stroke:#838e9a;
}

.dark .slickPrev,
.dark .slickNext,
.dark .slickReviewsPrev,
.dark .slickReviewsNext {
    /*stroke:#fff;*/
    stroke:#838e9a;
}
.dark .slickPrev:hover,
.dark .slickNext:hover,
.dark .slickReviewsPrev:hover,
.dark .slickReviewsNext:hover {
    /*stroke:#838e9a;*/
    stroke:#fff;
}
.blue .dark .slickPrev,
.blue .dark .slickNext,
.blue .dark .slickReviewsPrev,
.blue .dark .slickReviewsNext {

    stroke:#fff;
}
.blue .dark .slickPrev:hover,
.blue .dark .slickNext:hover,
.blue .dark .slickReviewsPrev:hover,
.blue .dark .slickReviewsNext:hover {
    /*stroke:#838e9a;*/
    /*stroke:#eee;*/
    stroke:#ccd7e3;
}
.doneProjects {
    width: 800px;
    position: relative;
    left: 50%;
    margin-left:-400px;
}
.project_image {
    width: 100%;
    height: 300px;
}
.project_head{
    text-transform: uppercase;
    font-size: 24px;
}
.project_text{
    font-size: 14px;
}


/* Reviews */
.reviewsCarWrapper{
    position: relative;
}
.reviewsCarousel {
    width: 800px;
    position: relative;
    left: 50%;
    margin-left:-400px;
    /*margin-top: 200px;*/
}
.reviewsCarousel img {
    height: 300px;
    width: 212px;
    position: relative;
    left:50%;
    margin-left: -106px;
}
.reviews .carouselControl {
    top:158px;
    margin-top: -30px;
    display: block;
}
.reviewsCarousel .slick-slide{
    height: 300px;
}

.mfp-counter {
    display: none;
}



/* clients logos */

.clients img{
    position: relative;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}
.andMore {
    color: #525e64;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 36px;

}
.andMore span {
    font-size: 54px;
    color: red;
}

/* order_form */
.order_form {
    padding-bottom:10px;
}
.order_form .btn-danger {
    margin-top: 40px;
}

.order_form .head{
    margin-bottom: 10px;
}
.order_form .top_comment{
    margin-bottom: 60px;
}
.order_form .footer {
    margin-top: 60px;
    font-size: 10px;
}
.order_form label,
.order_form .top_comment,
.order_form .footer {
    color: #838e9a;
}

.blue .order_form label,
.blue .order_form .top_comment,
.blue .order_form .footer {
    color: #fff;
}












/*              MEDIA              */
/*==========  Less than  ==========*/
@media only screen and (max-width : 1199px) {
    .car_image {
        margin-left: -150px;
        width: 300px;
    }
    #arrow_long_ico {
        width: 870px;
        height: 210px;

    }

}

@media only screen and (max-width : 991px) {

    .garage .carouselControl {
        top:140px;
    }

    .garagePrev{
        left:20px;
    }
    .garageNext{
        right:20px;
    }
    .car_image {
        margin-left: -100px;
        width: 200px;
    }
    #arrow_long_ico {
        width: 580px;
        height: 140px;

    }
    .services .service_type__text{
        font-size: 14px;
    }
    .service_type_icon svg {
        height: 77px;
        width: 175px;
    }


    .action_permanent .remainHead {
        font-size:13px;
        margin:9px 0 0;
    }
    .action_permanent .remainNumber {
        width: 40px;
        height: 40px;
        left: -15px;
        font-size:24px;
        padding: 4px;
    }
    .action_permanent .remainDiscr {
        width: 40px;
        text-align: center;
        left: -15px;
        font-size: 10px;
    }
    .action_permanent .spurt{
        font-size:48px;
        margin:4px 0 -3px;
    }
    .action_permanent .spurt .prep {
        top: -5px;
    }
    .action_permanent .tillTo{
        font-size:18px;
        margin:10px 0 0;
    }
    .action_permanent .lead{
        font-size:18px;
        margin: 21px auto 0px;
    }
    .action_permanent .lead span{
        font-size:48px;
    }
    .action_permanent {
        min-height: 130px;
    }

}

@media only screen and (max-width : 767px) {

    .more768 {
        display: none;
    }
    .less768 {
        display: block;
    }

    #topSection .head,
    #topSection .lead {
        background-color: rgba(0,0,0,0.4);
        padding: 5px;
    }
    .xsTopForm {
        width: 460px;
        position: relative;
        left:50%;
        margin-left: -230px;
    }


    .xsServiceForm,
    .xsHowWeWorkForm {
        width: 460px;
        position: relative;
        left:50%;
        margin-left: -230px;
    }

    .xsTopForm .input-group .form-control:first-child {
        width: 180px;
    }
    .xsServiceForm.input-group .form-control:first-child,
    .xsHowWeWorkForm .input-group .form-control:first-child {
        width: 180px;
    }


    
    .action_permanent .left {
        padding-left: 0;
    }
    .action_permanent .right {
        padding-right: 0;
    }
    .car_image {
        margin-left: -150px;
        width: 300px;
    }
    .top {
        min-height: 800px;
    }
    .top .head {
        margin-top: 230px;
    }
    .top .extra {
        margin-bottom: 60px;
    }

    .project_image {
        margin-bottom: 20px;
        height: 300px;
        /* w450 */
    }

    .carouselControl {
        top:300px;

    }
    .doneProjects {
        width: 480px;
        margin-left:-240px;
    }
    .display_xs {
        display: block;
    }
    .call2action {
        padding-bottom: 45px;
    }
    .call2action .styled_select{
        position: relative;
        width: 240px;
        left: 50%;
        margin-left: -120px;
    }
    .services .service_type__text {
        padding-bottom: 10px;
        font-size:16px;

    }
    .service_type_icon {
        padding-top: 40px;
        border-top: 1px solid rgba(0,0,0,0.2);
    }

    .service_type_icon svg {
        height: 77px;
        width: 175px;
    }

    .action_permanent .lead{
        font-size:18px;
        margin: 50px auto 0px;
    }
    .action_permanent .lead span{
        font-size:48px;
    }
    .action_permanent .tillTo{
        font-size:18px;
        margin:20px 0 0;
    }
    .action_permanent {
        text-align: center;
    }
    .action_permanent .remainHead {
        font-size:12px;
        margin:20px 0 10px;
    }
    .action_permanent .remainNumber {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        font-size:40px;
        padding: 4px;
    }
    .action_permanent .remainDiscr {
        width: 60px;
        text-align: center;
        left: 50%;
        margin-left: -30px;
        font-size: 12px;
    }
    .actionOrderButton{
        position: relative;
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
    .action_permanent .btn-danger {
        margin: 20px 0 30px;
    }
    .navbar > .container .navbar-brand  {
        width: 200px;
        left:50%;
        margin-left: -100px;
        float: none;
        display: block;
    }


    .navbar-nav > li {
        text-align: center;
    }
    .phone_icon {
        left: 0px;
        top:5px;
        position: relative;
    }
    #navbarOrderBtn {
        margin: 0px;
        width: 150px;
        left:50%;
        margin-left:-75px;
        position: relative;
        
    }
    #whatWeDoSection {
        background-image: url(/img/ngb_roadline_wide2.svg);
    }

}

@media only screen and (max-width : 640px) {
    .car_image {
        margin-left: -150px;
        width: 300px;
    }

    .project_image {
        height: 247px;
        /* w370 */
    }

    .doneProjects {
        width: 400px;
        margin-left:-200px;
    }
}

@media only screen and (max-width : 480px) {
    .less480noPl{
        padding-left: 0;
    }
    .whyWe_icon svg {
        width: 60px;
        height: 60px;
    }
    .projects .head {
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .carouselControl {
        top:-52px;

    }
    .project_image {
        height: 193px;
        /* w290 */
    }
    .doneProjects {
        width: 320px;
        margin-left:-160px;
    }

    .xsTopForm  {
        width: 360px;
        left:50%;
        margin-left: -180px;
    }

    .xsServiceForm,
    .xsHowWeWorkForm{
        width: 360px;
        left:50%;
        margin-left: -180px;
    }

    .xsTopForm .input-group .form-control:first-child {
        width: 150px;
    }
    .xsServiceForm.input-group .form-control:first-child,
    .xsHowWeWorkForm .input-group .form-control:first-child{
        width: 150px;
    }
    .top .lead {
        font-size: 30px;
    }
    .input-group .btn-submit {
        font-size: 10px;
    }


}

@media only screen and (max-width : 360px) {
    .top .head {
        font-size: 36px;
    }
    .xsTopForm{
        width: 320px;
        margin-left: -160px;
    }
    .xsServiceForm,
    .xsHowWeWorkForm {
        width: 300px;
        margin-left: -150px;
    }
    .xsTopForm .input-group .form-control:first-child,
    .xsServiceForm.input-group .form-control:first-child,
    .xsHowWeWorkForm .input-group .form-control:first-child {
        width: 120px;
    }
    .car_image {
        margin-left: -100px;
        width: 200px;
    }
    .service_type_icon svg {
        height: 77px;
        width: 175px;
    }

}


/*==========  More than  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .more768 {
        display: block;
    }
    .less768 {
        display: none;
    }

    .services .addIconBox{
        margin-left:-50px;
    }
    .whatWeDo_icon svg {
        width: 85px;
        height: 60px;
        /*width: 110px;*/
        /*height: 78px;*/

    }
    .whatWeDo_head {
        font-size:14px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 860px) {

    .whatWeDo_icon svg {
        width: 110px;
        height: 78px;

    }
    .whatWeDo_head {
        font-size:16px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #whyWeVertical{
        width: 180px;
        height: 870px;
    }
   
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    .truckBodywork{
        width: 500px;
        left: 50%;
        margin-left: -250px;
    }



    .slickPrev,
    .slickReviewsPrev{
        left:150px;
    }
    .slickNext,
    .slickReviewsNext{
        right:150px;
    }
    #arrow_long_ico {
        /*width: 580px;*/
        /*height: 140px;*/
        /*width: 1160px;*/
        /*height: 280px;*/
        width: 1044px;
        height: 252px;
    }
    .navbar .container  {
        position: absolute;
        width: 1200px;
        left:50%;
        margin-left: -600px;

        /*border:none;*/
        /*border-color: rgba(0,0,0,0.3);*/
    }
    .service_type_icon svg {
        height:110px;
        width: 250px;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1500px) {
    .slickPrev,
    .slickReviewsPrev{
        left:250px;
    }
    .slickNext,
    .slickReviewsNext{
        right:250px;
    }
    .truckBodywork{
        width: 600px;
        left: 50%;
        margin-left: -300px;
    }
    .whatWeDo_text {
        font-size: 16px;
    }

}