/*

blue 0D689E
green 05AE58  by paletton
red F84107    by paletton
yellow F8B807  by paletton



blue 0D689E
green 05AB8E by adobe
dark blue 09476B by adobe

*/


html,
body {
    height: 100%;
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap&subset=cyrillic');

.container {
    width: 100%;
    margin:0;
    padding: 0;
}
.row{
    margin: 0;
    /*padding: 0;*/
}
/* no-gutters*/
.no-gutters,
.container-fluid.no-gutters{
    padding-right: 0;
    padding-left: 0;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

@font-face {
    font-family: "Helvetica";
    src: url("fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "NeoSansProBold";
    src: url("fonts/NeoSansProBold/neosanspro-bold.eot");
    src: url("fonts/NeoSansProBold/neosanspro-bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/NeoSansProBold/neosanspro-bold.woff") format("woff"),
    url("fonts/NeoSansProBold/neosanspro-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "NeoSansProRegular";
    src: url("fonts/NeoSansProRegular/neosanspro-regular.eot");
    src: url("fonts/NeoSansProRegular/neosanspro-regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/NeoSansProRegular/neosanspro-regular.woff") format("woff"),
    url("fonts/NeoSansProRegular/neosanspro-regular.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

/* позиционирование*/
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mt50{
    margin-top: 50px;
}
.mt100{
    margin-top: 100px;
}
.mb10{
    margin-bottom: 10px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.mb50{
    margin-bottom: 50px;
}
.mb100{
    margin-bottom: 100px;
}
.pt10{
    padding-top: 10px;
}
.pt20{
    padding-top: 20px;
}
.pt30{
    padding-top: 30px;
}
.pl5{
    padding-left: 5px !important;
}
.pr5{
    padding-right: 5px !important;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

/*.wrap > .container {*/
/*    padding: 0px 15px 20px;*/
/*}*/

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.not-set {
    color: #c55;
    font-style: italic;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

h2  {
    font-weight: 700;
    font-size: 4rem;
    color: #848e98;
}
h3  {
    font-weight: 700;
    font-size: 3rem;
    color: #5f6973;
}
h4  {
    font-weight: 700;
    font-size: 2.2rem;
    color: #5f6973;
}
p{
    font-size: 1.7rem;
    /*color: #53567a;*/
}
/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}




.btn-primary {
    border-radius: 0;
    text-transform: uppercase;
    background-color: #0d689e;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    margin-top: 10px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #53565a;
    /*color: red;*/
}
.navbar-nav > li {
    border-right: 1px solid grey;
}
.navbar-nav > li:last-child {
    border-right: none;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover {
    border-color: #0d689e;
    background-color: transparent;
}
.navbar-toggle {
    padding:9px 10px;
    margin-top: 8px;
    border-radius: 0;

}
.navbar-toggle .icon-bar {
    width: 30px;
    margin-bottom: 6px;
    background-color: #0d689e;
}
.navbar-toggle .icon-bar:last-child {
    margin-bottom: 0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #0d689e;
}
.main_phone{
    margin-right: 10px;
    top: 2px;
    position: relative;
    color: #888b8d;
}
.before_navbar{
    position: relative;
}
.before_navbar .logo{
    position: absolute;
    left: 10px;
    top: 12px;
    z-index: 1;
    width: 280px;
    height: 70px;
}
@media only screen and (min-width : 1200px) {
    .before_navbar .logo{
        left: 10vw;
    }
}
@media only screen and (max-width : 767px) {
    .before_navbar .logo{
        top: 30px;
    }
}
@media only screen and (max-width : 360px) {
    .before_navbar .logo{
        top: 50px;
        width: 200px;
        height: 50px;
    }
}
.navbar-right {
    margin-top: 10px;
}
.btn-danger {
    background-color: #F8B807;
    transition: border-radius .4s, background-color .4s;
}
.btn-danger:hover {
    /*background-color: #E8A800;*/
    background-color: #FC8205;
    color: #ffffff;
    /*border-radius: 0;*/
    /*transition: border-radius .4s, color .4s;*/
}

.xsQuickForm:hover .input-group-btn .btn-danger {
    background-color: #FC8205;
}
.xsQuickForm  .form-control,
.xsQuickForm .input-group-btn .btn-danger{
    transition: border-radius .4s, background-color .4s;
}
.xsQuickForm:hover  .form-control,
.xsQuickForm:hover .input-group-btn .btn-danger{
    border-radius: 50px;
    transition: border-radius .4s, background-color .4s;
}
.xsQuickForm  .form-control:focus {
    border-radius: 50px;
    transition: border-radius .4s;
}
.xsQuickForm  .form-control:focus + .input-group-btn .btn-danger{
    border-radius: 50px;
    background-color: #FC8205;
    transition: box-shadow .4s, border-radius .4s, background-color .4s;
}
.xsQuickForm  .form-control:focus + .input-group-btn .btn-danger:hover{
    box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    transition: box-shadow .4s, border-radius .4s, background-color .4s;
}

.has-error .form-control:focus {
    border-color: #F84107;
    box-shadow: none;
}
.has-success .form-control:focus {
    border-color: #05AE58;
    box-shadow: none;
}

.link_style1 .link{
    text-transform: uppercase;
    text-decoration: none;
    transition: border-bottom-color .3s;
    padding: .3em .5em;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: #0d689e;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.link_style1 .link:hover,
.link_style1 .link:focus,
.link_style1 .link:active{
    transition: border .3s;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: #0d689e;
    border-right-color: #0d689e;
}
.link_style1.dark .link{
    border-bottom-color: white;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.link_style1.dark .link:hover,
.link_style1.dark .link:focus,
.link_style1.dark .link:active{
    transition: border .3s;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: white;
    border-right-color: white;
}
.breadcrumb_H1{
    padding-left: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 4em;
    margin-top: 0;
    color: #96a0aa;
}
.breadcrumb {
    background-color: transparent;
    margin-bottom: 5px;
    padding-left: 80px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: .9em;
    font-weight: normal;
}
@media only screen and (max-width : 768px) {
    .breadcrumb,
    .breadcrumb_H1{
        padding-left: 40px;
    }
}
@media only screen and (max-width : 480px) {
    .breadcrumb,
    .breadcrumb_H1{
        padding-left: 5px;
    }
}
@media only screen and (min-width : 1200px) {
    .breadcrumb,
    .breadcrumb_H1{
        padding-left: 10vw;
    }
}

.link_style1 .link{
    /*color: rgba(0,0,0,.8);*/
    font-size: 1.5rem;
}

.article_topLine_image h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: white;
    width: 100%;
    padding: 0 10%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}
@media only screen and (max-width : 480px) {
    .article_topLine_image h1{
        font-size: 2em;
    }
}

.as-image_icon_in_head.sectionServices .asbi-v_sm_svg_in_comment_on_image_text_link .fullHeight .col-sm-12  {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;

}
.asb-bs_horiz_3.vert_line_on_item .bs_horiz_3_item{
    border-left: 3px solid rgba(0,0,0,.15);
    /*border-right: 1px solid rgba(0,0,0,.25);*/
    margin-bottom: 5px;
}
.asbi-v_svg_in_comment_on_image_centered_square .description{
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .2em;
    padding-left: 1em;
    padding-right: 1em;
}
.asbi-v_svg_in_comment_on_image_centered_square svg{
    position: relative;
    top: 10px;
}
.asbi-v_svg_in_comment_on_image_centered_square h4{
    font-size: 2.5em;
    margin-bottom: .8em;
}
.stroke_btn{
    display: inline-block;
    border: 2px solid rgba(0,0,0,.5);
    padding: .7em 1.2em;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color .4s, color .4s;
    color: rgba(0,0,0,.5);
}
.stroke_btn:hover{
    background-color: rgba(0,0,0,.5);
    transition: background-color .4s, color .4s;
    color: #fff;
    text-decoration: none;
}
.dark .stroke_btn{
    border: 2px solid white;
}
.dark .stroke_btn:hover{
    background-color: #fff;
    transition: background-color .4s, color .4s;
    color: #000;
}
.article_topLine_image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    /*background-color: #f5f5f5;*/
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color: white;
    /*background-color: #30353b;*/
    background-color: #848e98;;
    /*background-color: #09476B;;*/
    font-weight: 300;
    min-height: 60px;

}
.footer p{
    margin-top: 0;
    margin-bottom: .5em;
    font-size:1.0em;
}
.footer a{
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .1em;
    color: #ffffff;
}